<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.postagestampscollectorapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PostageStampsCollectorApp">
        <activity android:name=".Activities.ViewStampActivity"></activity>
        <activity android:name=".Activities.SearchPostageStamps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.UserSignupActivity" >
        </activity>
        <activity android:name=".Activities.LoginActivity">

        </activity>
        <activity
            android:name=".Activities.CollectionCreationActivity"
            android:theme="@style/Theme.AppCompat.CustomPopUpTheme" />
        <activity android:name=".Activities.StampRegistrationActivity" />
        <activity android:name=".Activities.MainActivity" />
    </application>

</manifest>